<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => {%>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <form method="POST" action="/articles/delete" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" value="<%= article.id %>" name="id">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você deseja deletar este artigo?");
        if(decision){
            form.submit();
        }
    }
</script>