<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o titulo da artigo"> <br>
                <textarea class="form-control" name="body" placeholder="Escreva o artigo aqui!" id="article"></textarea>
                <br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                <% categories.forEach(category => {%>
                    <option value="<%= category.id %>"><%= category.title %></option>
                <% }); %> 
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
      tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insert datetime media save table paste emoticons'
        ]

      });
</script>

